<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <script type="javascript" src="/jquery.min.js"></script>
    <script type="javascript">
    </script>
</head>
<body>
<div>
    <form action="https://mobile.cmbchina.com/mobilehtml/DebitCard/M_NetPay/OneNetRegister/NP_BindCard.aspx" method="post">
        <input type="hidden" name="sign" th:value="${sign}" /><br>
        version：<input name="version" value='1.0' /><br>
        charset：<input name="charset" value='UTF-8' /><br>
        signType：<input name="signType" value='SHA-256' /><br>
        reqData：<input name="reqData"th:value="${reqData}"/><br>
        <input type="submit" value="提交"><br>
    </form>
</div>

</body>
</html>